.sidebar {
  display: flex;
  justify-content: flex-start;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      display: flex;
      align-self: top;
      align-items: center;
      padding: 0 10%;
    }
    p {
      display: block;
      padding-left: 5%;
      padding-bottom: 1.5%;
      margin: 1%;
    }
    input {
      margin: 0;
      width: 16px;
      height: 20px;
    }
  }
}
